// Variables
//=====================

// Color
//=====================

//Scheme 0ne
$white: #FFF;
$platinum: #E8E8E8;
$gray: #BABABA;
//Scheme Two
$dark-salmon: #EE9480;
$melon: #F4BAAE;
$pale-pink: #FADFDA;
//Scheme Three
$ball-blue: #2AB7CA;
$middle-blue: #77D1DD;
$blue-lagoon: #B1E4EB;
//Scheme Four
$onyx: #333745;
$spanish-gray: #8F9199;
$lavender-gray: #C7C8CC;
//Scheme Five
$raising-black: #221D23;
$nickel: #726F73;
$silver-chalice: #AEACAF;


// Typography
//=====================

//Typefaces
$raleway: 'Raleway', sans-serif;
$open-sans: 'Open Sans', sans-serif;

$bold: 700;
$regular: 400;

//Font Sizes
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

// Breakpoints
//=====================
$breakpoints: (
        'xs': (max-width: 576px),
        's': (min-width: 576px),
        'm': (min-width: 768px),
        'l': (min-width: 992px),
        'xl': (min-width: 1200px),
);
